<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static',filename='CSS/style.css') }}" rel="stylesheet" type="text/css">
  <title>R4</title>
</head>

<body>
  <h1>Configuración de enrutamiento</h1>
  <p><b>Selecciona la opción de configuración</b></p>
  <a href="{{ url_for('routing_add') }}">Agregar nuevo enrutamiento</a>
  <a href="{{ url_for('routing_edit') }}">Editar enrutamiento actual</a>
  <a>Eliminar configuración actual</a>

</body>

</html>