<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R4</title>
</head>

<body>
  <h1 style="color: blue">Configuración de enrutamiento</h1>
  <p>Selecciona la opción de configuración</p>
  <a href="{{ url_for('routing_add') }}">Agregar nuevo enrutamiento</a>
  <a href="{{ url_for('routing_edit') }}">Editar enrutamiento actual</a>
  <a>Eliminar configuración actual</a>

</body>

</html>