<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static',filename='CSS/style.css') }}" rel="stylesheet" type="text/css">
  <title>R4</title>
</head>

<body>
  <script>
    function addFields(){
      var input = '';
      var node = document.getElementById('protocolos');
      var text  = node.textContent || node.innerText;
      var newText = text.split(":");
      var newText2 = newText[1].split(","); 
      var number = newText2.length;
      for(var i=0;i<number;i++)
      {
        input +="<h3>Protocolo "+newText2[i]+"</h3><label for='number"+i+"'>Número de inferfaces"+
        "</label><input id='number"+i+"' name='number"+i+"'><a href='#' id='num"+i+"' onclick='addFields"+
        i+"()'>Ok</a><br><div id='container"+i+"'></div><br>";
      }
      document.getElementById('container').innerHTML = input; 
    }

    function addFields0(){
      var input = '';
      var number = document.getElementById('number0').value;
      for(var i=0;i<number;i++)
      {
        input +="<label for='dir"+i+"'>Dirección de subred "+(i+1)+
        "</label><input id='dir"+i+"' name='dir"+i+"'><br>";
      }
      document.getElementById('container0').innerHTML = input; 
    }

    function addFields1(){
      var input = '';
      var number = document.getElementById('number1').value;
      for(var i=0;i<number;i++)
      {
        input +="<label for='dir2"+i+"'>Dirección de subred"+(i+1)+"</label>"+
        "<input id='dir2"+i+"' name='dir2"+i+"'><label for='mask"+i+"'>Máscara de subred "+(i+1)+"</label>"+
        "<input id='mask"+i+"' name='mask"+i+"'><label for='area"+i+"'>Número de área "+(i+1)+
        "</label><input id='area"+i+"' name='area"+i+"'><br>";
      }
      document.getElementById('container1').innerHTML = input; 
    }
  </script>

  <h2>{{value}}</h2>
  <h3 id="protocolos">{{protocolos}}</h3>
  <a href="#" id="cargaProtocolo" onclick="addFields();">Cargar Protocolos</a>
  <form action ="" method ="post">
    <div id='container'/></div>
    <input type="submit" value="Actualizar" name="edit_routes">
  </form>
  
</body>