<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar usuarios</title>
  </head>

  <body>
    <h1 style="color: blue">Editar usuario</h1>
     <form action="" method="post">
          <label>Nuevo nombre de usuario: </label> <input type="text" id="newNameUser" name="newNameUser" />
          <br/>
          <label>Nueva contraseña: </label> <input type="text" />
          <br/>
          <label>Confirmar nueva contraseña: </label> <input type="text" id="newPassUser" name="newPassUser" />
          <br/>
          <input type="submit" value="Editar usuario" name="user-config">
    </form>
  </body>
</html>