<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/style.css">
    <title>Eliminación de usuarios</title>
  </head>

  <body>
    <h1>Eliminación de usuario</h1>
     <form action="" method="post">
          <input type="text" id="nameUser" name="nameUser" placeholder="Nombre de usuario"/>
          <input type="text" placeholder="Contraseña"/>
          <input type="text" id="passUser" name="passUser" placeholder="Confirmar contraseña"/>
          <input type="submit" value="Eliminar usuario" name="user-config">
    </form>
  </body>
</html>