<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R4</title>
</head>

<body>
  <h1 style="color: blue">Has ingresado al dispositivo</h1>
  <p>Selecciona la opción de configuración</p>
  <ul>
    <li><a>Configuración del router</a></li>
    <li><a href="{{ url_for('routing_config') }}">Configuración de protocolos de enrutamiento</a></li>
    <li><a href="{{ url_for('user_config') }}">Gestión de usuarios</a></li>
  </ul>
</body>

</html>