<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static',filename='CSS/style.css') }}" rel="stylesheet" type="text/css">
  <title>R4</title>
</head>

<body>
  <h1>Bienvenido al router {{value}}</h1>
  <p><b>Ingresa los datos para iniciar sesión</b></p>
  <form action="" method="post">
        <input type="text" id="user" name="user" placeholder="Usuario"/>
        <input type="password" id="password" name="password" placeholder="Contraseña"/>
        <input type="text" id="hostname" name="hostname" placeholder="Hostname"/>
        <input type="text" id="metod" name="metod" placeholder="Método"/>
        <input type="submit" id="send-info" name="sendInfo" value="OK" />
  </form>
</body>

</html>